.baby {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img{
    height:300px;
  }
  .images{
    height:200px;
  }
  h1 {
  
  color: black;
  }
  .bt{
    background-color:black;
    color:white;
  }
  
  
  header {
    background-color: gainsboro;
    
    padding-bottom: 0px;
    
  }
  body{
   background-color: gainsboro;
  }
  #hero{
    border-style: solid black;
    margin-top: 0px;
     text-align:center;
  }
  .cap{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 10px;
    border-radius: 4px;
    
  }
  .thor{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 10px;
    border-radius: 4px;
    
  }
  .hotshot{
   
    border:solid;
    border-color: black;
    padding-left: 2px;
    padding-right:2px;
    
  }
  .sike{
    color:white;
  }
  .nightwing{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 10px;
    border-radius: 4px;
  
    
  }
  #small {
    font-size:x-small;
  }
  
  .bob {
   color:black;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 0px;
   
  }
  
  
  h2{
    text-align: center;
    border-color: black;
    border-style: solid;
    background-color: white;
  }
  a {
    color: black;
  }
  .box {
  }
  .info{
    text-align: center;
    border: black;
    border-radius: 5px;
    border-style: solid;
    margin-top:0px;
    background-color: black;
    color: white;
  }
  .nav
  {
    background-color: black;
    color: blue;
  }
  
  }
  .table{
    border-style:solid;
    border-color: black;
    text-align: center;
  }
  